extends layout

block content
  p EcoFactory
    .info.d-flex
      .card.p-2.bg-dark.text-light.m-2(style="width:200px; height:150px")
        p Yangiliklar
          span  5
      .card.p-2.bg-info.text-light.m-2(style="width:200px; height:150px")
        p Bo'limlar
          span  7
      .card.p-2.bg-secondary.text-light.m-2(style="width:200px; height:150px")
        p Hamkorlar
          span  45
      .card.p-2.bg-primary.text-light.m-2(style="width:200px; height:150px")
        p Mahsulotlar
          span  56
